.header{
  background-color: lightgrey;
  margin-bottom: 3em;
  padding: 2rem;
  text-align: center;

  input{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.c-lego {
  padding: 8px;
  border: 1px solid #333333;
  margin: 0 auto;
}

.c-lego__circle {
  display: block;
  margin: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #333333;
}
