<div class="header">
  <h1>Controles</h1>
  <p>Columnas</p>
  <input type="number" [(ngModel)] = 'newCols' (input)=newFormat()>
  <p>Filas</p>
  <input type="number" [(ngModel)] = 'newRows' (input)=newFormat()>
  <p>Color</p>
  <input type="text" [(ngModel)]="newColor" (input)='newFormat()'>
</div>


<table class="c-lego" [ngStyle]="{'background-color':color}">
  <tbody>
    <tr *ngFor = 'let row of rows'>
      <td *ngFor = 'let col of cols'>
        <span class="c-lego__circle"></span>
      </td>
    </tr>
  </tbody>
</table>
